<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-espanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <a href="{{ url_for('front') }}" class="navbar-brand">Item catalog app</a>
        </div>
        <!-- Navbar menu -->
        <div id="navbar-menu" class="navbar-collapse collapse">
            {% if 'username' in session %}
                <p class="navbar-text navbar-left">Signed in as {{ session['username'] }}<img class="creator-pic" src="{{ session['picture'] }}"></p>
                <button type="button" class="btn btn-default navbar-btn navbar-right" onclick="window.location='{{ url_for('logout') }}'">Log out</button>
            {% else %}
                <button type="button" class="btn btn-default navbar-btn navbar-right" onclick="window.location='{{ url_for('login') }}'">Log in</button>           
            {% endif %}
        </div>
    </div>
</nav>