{% extends "main.html" %}
{% block content %}

<h3>Edit category {{ category.name }}</h3>
<form method="POST" onsubmit="return validateForm('edit')">
    <div class="form-group" id="name-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ category.name }}" aria-describedby="err-mess">
        <span class="help-block" id="err-mess" hidden></span>
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
    <a href="{{ url_for('editCategories') }}" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
</form>

{% endblock content %}