{% extends "main.html" %}
{% block content %}

<h3>{{ category.name }} (<i>{{ items|length }} items</i>)</h3>
{% for item in items %}
    <div class="item">
        <a href="{{ url_for('viewItem', category_id=item.category.id, item_id=item.id) }}">
        <span class="item-thumbnail">
            {% if item.picture %}
                <img src="{{ item.picture }}" alt="{{ item.name }} thumbnail" class="img-responsive">
            {% else %}
                <img src="https://cdn4.iconfinder.com/data/icons/travel-solid-style/24/sign-no-photo-128.png" alt="No thumbnail for {{ item.name }}" class="img-responsive no-thumbnail">
            {% endif %}
        </span>{{ item.name }}</a> 
        </div>
{% endfor %}
<hr>
<div class="creator">Created by: {{ category.user.name }}<img class="creator-pic" src="{{ category.user.picture }}"></div>
{% if 'username' in session %}
    <a href="{{ url_for('newItem') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New item
    </a>
{% endif %}

{% endblock content %}